<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.js.smb.MyMapper">

	<select id="showAllMenu" resultType="com.js.smb.Menu">
		select * from menu01
	</select>

	<insert id="regMenu" parameterType="com.js.smb.Menu">
		insert into menu01 values(menu01_seq.nextval, #{m_name}, #{m_price})
	</insert>
	
	<delete id="delMenu" parameterType="com.js.smb.Menu">
		delete menu01 where m_no = #{m_no}
	</delete>
	
	<select id="getMenu" parameterType="com.js.smb.Menu" resultType="com.js.smb.Menu">
		select * from menu01 where m_no = #{m_no }
	</select>
	
<!-- 
	<update id="updateMenu" parameterType="com.js.smb.Menu">
		update menu01 set m_price = #{m_price} where m_no = #{m_no}
	</update>
 -->	
 	
 	<update id="updateMenu" parameterType="com.js.smb.Menu">
		update menu01 
		<set>
			<if test="m_name != ''">
			m_name = #{m_name}
			</if>
			<if test="m_name != '' and m_price != null">
			,
			</if>
			<if test="m_price != null">
			m_price = #{m_price}
			</if>
		</set>
		where m_no = #{m_no}
	</update>
	
<!-- 
	<update id="updateMenu2" parameterType="com.js.smb.Menu">
		update menu01 
		set m_name = #{m_name}, m_price = #{m_price} 
		where m_no = #{m_no}
	</update> 
-->

</mapper>