<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jsqqq">
	
	<insert id="regCurWeather" parameterType="com.js.mb.Weather">
		insert into weather01 values( weather01_seq.nextval, #{w_temp}, #{w_country}, #{w_city}, #{w_description}, sysdate)
	</insert>

	<select id="getAllWeather" resultType="com.js.mb.Weather">
		select * from weather01
	</select>
	
</mapper>